* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home {
    min-height: 100vh;
    padding: 0 9% 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('fish-background.webp/undwerwater-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}

.home-content p {
    font-size: 16px;
    color: #fff;
    margin: 20px 0 40px;
}

/* NAVIGATION BAR STYLES */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

/* BUTTON STYLES */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

